/*#home1{
	font-size: 22px;
	font-family: Arial;
	font-weight: bold;
	margin-left: 300px;
	margin-top: 2px;
}*/

*{
	padding: 0;
	margin: 0;
}

a{
	text-decoration: none;
	color: black;
}

body{
	background-color: #E1E8ED;
	display: grid;
	grid-template-areas: "esquerda meiohome direita";
	grid-template-columns: 50px auto 50px;

}

.ladoesquerdo{
	grid-area: esquerda;
	background: #FFFFFF;
	position:fixed;
}


#logo{

	margin-left: 50px;
	margin-top: 8px;
}

.menu{
	margin-left: 50px;
	font-size: 20px;
	font-family: Arial;
	font-weight: bold;

}

.item{
	padding: 4px 0px;
}

#botao{
	margin-left: 0px;
	margin-top: 8px;
}
.bt {
	height:53px;
	width:250px;
margin-top: 34px;
margin-left:20px;
border:1px solid #1DA1F2;
border-radius:30px;
display:inline-block;
cursor:pointer;
font-family:Arial;
font-weight:bold;
font-size:18px;
padding:6px 10px;
text-decoration:none;

border-color:#1DA1F2;
background:#1DA1F2;
box-shadow:inset 0px 1px 0px 0px #1DA1F2;
color:#fff;
text-shadow:0px 1px 0px #1DA1F2;

}

.bt:hover {
background:linear-gradient(to bottom, #1DA1F2 1%, #ffffff 100%);
}

.meiohome{


width: 700px; 
height: 60px;
background: #FFFFFF;
}
#homee{
position: fixed;
padding-top: 20px;
font-size: 22px;
font-family: Arial;
font-weight: bold;
}

.happening{
	width: 700px;
	height: 113px;
	
	background: #FFFFFF;
	
	      }

.caixa{
	
	margin-top:20px;
	width: 690px;
	height: 50px;
}
.timeline{
	grid-area: "meiohome";
width: 700px; 
height: 1000px;
background: #FFFFFF;
}




